$base-color: #9FB7A6;
$base-light-color: #BED2C4;

$base-dark-color: #9EBDA8;
$base-darker-color: #7E8C79;

$base-text-color: #000000;
$base-text-light: #F8F6F0;
$base-text-dark: #252525;
$base-text-less-dark: #5E5E5E;
$white : #FFFFFF;

$secondary-color : #FCF7E8;
$secondary-light-color : #F8F6F0;
$secondary-dark-color : #FFCF3E;
$secondary-lightest-color: #FFFCF3;
$secondary-color-table: #F6F1DF;
$secondary-lighter-color: #FCF7E8;
$secondary-text-color : #791D34;

@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap);
@media only screen and (orientation: portrait) {
    body {
        font-size: 12px;
        font-family: 'Ubuntu', sans-serif;
        background-color: $secondary-light-color;
        margin: 0;
        position:relative ;
        z-index: -4;
    }
    .login-form-container{
        font-size: 0.5em;
        height: 25em;
    }
    // .textInput{
    //     font-size: 20em;
    // }
    .submitButton{
        font-size: 2em;
    }
    .searchInput{
        width: 7.5em;
    }
    .searchIcon{
        display: none;
    }
}

@media only screen and (orientation: landscape) {
    body {
        font-size: 24px;
        font-family: 'Ubuntu', sans-serif;
        background-color: $secondary-light-color;
        margin: 0;
        position:relative; 
        z-index: -4;
    }
    .searchInput{
        width: calc(25vw + 10em);
    }
    .searchIcon{
        display: inline;
    }
}
.div-container{
    z-index: -2;
    position:relative 
}
#app{
    position:relative ;
    z-index: -3;
}

.menu-container {
    padding: .5em 0;
    // height: 2em;
    padding: 0.5em;
    width: 100%;
    background-color: $base-color;
    top: 0;
    left: 0;
    box-shadow: 0 .2em .2em rgba(0, 0, 0, 0.25);
    position: fixed;
}

.dropdown-content{
    position: absolute;
    background-color: $base-darker-color;
    margin-right: 1em;
    padding: .5em;
    border-radius: .2em;
    display: none;
}
#menu-username:hover .dropdown-content {
    display: block;
    transition: .3s ease-in-out;
}

#menu-heading{
    margin: .1em 1.5em;
    display: inline;
}
#menu-heading a, #menu-heading a:hover{
    text-decoration: none;
    color: $base-text-color;
}
#menu-username{
    font-size: .75em;
    display: inline;
    float: right;
    margin: .2em 3em;
}
#menu-username a, #menu-username a:hover{
    text-decoration: none;
    color: $base-text-dark;
}

.sidebar-container{
    height: 100%;
    // width: 3em;
    padding-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
    position: fixed;
    z-index:-1;
    background-color: $base-light-color;
    top: 0;
    left: 0;
}

.sidebar-button{
    color: $base-text-light;
    box-shadow: 0 .2em .2em rgba(0, 0, 0, 0.25);
    height: 1em;
    // width: 100%;
    padding: .5em;
    margin: 1em 0;
    border-radius: .75em;
    z-index:+1;
    background-color: $base-dark-color;
    text-align: center;
    transition: .2s ease-in-out;
}

.sidebar-button a, .sidebar-button a:focus{
    color: $base-text-light;
    text-decoration: none;
}

.sidebar-button:hover{
    opacity: 80%;
}

.content-container {
    margin: 4em 8em;
}

.login-form-container{
    margin: 2em auto;
    padding :1em 10em;
    width: 20em;
    background-color: $secondary-lightest-color;
    box-shadow: 0 .2em .2em rgba(0, 0, 0, 0.25);
    border-radius: 1em;
    // transition: .3s ease-in-out;
}

.selector {
    // width: 50%;
    margin: 0 auto;
    width: fit-content;
    font-size: 1.5em;
}


#signup{
    display: inline;
    margin-right: .5em;
}

#signin{
    display: inline;
}

#signin.active ~ hr.slider{
    margin-left: 52.5%;
}

hr.slider {
    height: .1rem;
    width: 45%;
    margin: 0;
    background: $secondary-dark-color;
    border: none;
    transition: .3s ease-in-out;
  }

form{
    text-align: center;
}
.textInput{
      background-color: $secondary-lighter-color;
      padding: .5em;
      margin: .5em 0.75em;
      height: .25em;
    //   width: 25em;
      font-size: 1.5em;
      border-radius: .25em;
      border: none;
      box-shadow: 0 .05em .05em rgba(0, 0, 0, 0.25);
  }

input:focus{
    outline: none;
}

.submitButton{
    margin: 2em;
    border-radius: 1em;
    background-color: $base-darker-color;
    padding: 1em 2em;
    color: $white;
    box-shadow: 0 .1em .1em rgba(0, 0, 0, 0.25);
    // outline: none;
    border: none;
    transition: .2s ease-in-out;
    font-size: .5em;
    display: inline;
}
.submitButton:hover, .submitButton:focus{
    opacity: 80%;
}

.error{
    color: red;
}


.pageHeader{
    font-size: 2em;
}

.searchInput{
    background-color: $secondary-lighter-color;
    border-radius: 0.5em;
    max-height: 2em;
    padding: .4em;
    font-size: 1em;
    float: left;
    margin: 1em .25em 1em 1em ;
    border: none;
    box-shadow: 0 .1em .1em rgba(0, 0, 0, 0.25);
    display: inline;
    transition: .2s ease-in-out;
}

.searchInput:hover, .searchInput:focus{
    opacity: 90%;
}

.searchIcon{
    float: left;
    background-color: $secondary-lightest-color;
    padding: .4em;
    font-size: 1em;
    position: relative;
    border: none;
    // display: inline;
    border-radius: 0.5em;
    margin-top: 1em;
    transition: .2s ease-in-out;
    box-shadow: 0 .1em .1em rgba(0, 0, 0, 0.25);
}

.searchIcon:hover{
    background-color: $secondary-lighter-color;
}

.importButton {
    background-color: $secondary-lighter-color;
    border-radius: 0.5em;
    padding: .4em;
    font-size: 1em;
    float: left;
    margin: 1em ;
    border: none;
    box-shadow: 0 .1em .1em rgba(0, 0, 0, 0.25);
    display: inline;
    transition: .2s ease-in-out;
}
.importButton:hover{
    opacity: 80%;
}

.dataSelector{
    width: fit-content;
    margin: 1.5em;
    hr.slider{
        margin-left: 4%;
    }
}

#allData{
    display: inline;
    margin:0 .5em;
}
#uData{
    display: inline;
}
#uData.active~hr.slider{
    margin-left: 50%;
}
#uData.inactive{
    opacity: 50%;
}

.spinner-container{
    margin: 0 25%;
    width: fit-content;

}

// spinner code

.lds-ring {
    display: inline-block;
    position: relative;
    width: 5em;
    height: 5em;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 4em;
    height: 4em;
    margin: .3em;
    border: .3em solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $secondary-text-color transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
// end of spinner code

.datasetTable{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5em 2em;

    a{
        text-decoration: none;
        color: inherit;
    }
    
    

    th,td{
        padding: .5em;
        // border: none;
        // border-style : hidden!important;
    }
    .topRow th{
        border-bottom: solid .1em;
    }
    tr:nth-child(even){
        background-color: $secondary-color-table;
    }
    td.name {
        color:$secondary-text-color;
    }
    td.description {
        width: 20em;
    }
}

.datasetHeader{
    font-size: 2em;
    color:$secondary-text-color;
    // display: inline;
    .datasetButton{
        padding: .5em;
        margin: 1em;
        width: fit-content;
        display: inline;
        background-color: $secondary-lighter-color;
        border-radius: .5em;
        box-shadow: 0 .1em .1em rgba(0, 0, 0, 0.25);
        font-size: .5em;
        color: $base-text-dark;
        transition: .3s ease-in-out;
        cursor: pointer;
        border: none;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
    .datasetButton:hover{
        opacity: 80%;
    }
}
.datasetDescription{
    background-color: $secondary-lighter-color;
    margin: 1em;
    height: 20vh;
    width: 40vw;
    padding: .5em;
    border-radius: .5em;
    box-shadow: 0 .1em .1em rgba(0, 0, 0, 0.25);

    span{
        color: $base-text-less-dark;
    }
    p {
        margin: 0;
        margin-left: 1em;
        font-size: .75em;
    }
}

.datasetDetail{
    background-color: $secondary-lighter-color;
    margin: 1em;
    width: 50vw;
    padding: .5em;
    border-radius: .5em;
    box-shadow: 0 .1em .1em rgba(0, 0, 0, 0.25);

    .datasetSelector{
        width: fit-content;

        #detail{
            display: inline;
            margin-right: .5em;
        }
        #table{
            display: inline;
        }
        hr.slider{
            width: 50%;
        }

        #table.active ~ hr.slider{
            margin-left: 55%;
        }
    }
}